@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('Roboto-Light'), url(../src/fonts/roboto/condensed/RobotoCondensed-Light.ttf) format('truetype');
}
/* latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('Roboto-Regular'), url(../src/fonts/roboto/condensed/RobotoCondensed-Regular.ttf) format('truetype');
}

/* latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('Roboto-Bold'), url(../src/fonts/roboto/condensed/RobotoCondensed-Bold.ttf) format('truetype');
}
