@import 'base';

@import 'reset';
@import 'fonts/roboto/regular/style';
@import 'fonts/roboto/condensed/style';

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-family: $font-family;
    font-size: $size-font;

    background: $colorBackgroundShade;
}
